aiohttp==3.8.6
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.1.0
beautifulsoup4==4.12.2
bert-score==0.3.13
certifi @ file:///croot/certifi_1700501669400/work/certifi
charset-normalizer==3.3.2
click @ file:///croot/click_1698129812380/work
contourpy==1.2.0
cycler==0.12.1
datasets==2.15.0
dill==0.3.7
filelock==3.13.1
fonttools==4.46.0
FORD==7.0.1
frozenlist==1.4.0
fsspec==2023.10.0
graphviz==0.20.1
huggingface-hub==0.19.3
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.1
Jinja2==3.1.2
joblib @ file:///croot/joblib_1685113087166/work
kiwisolver==1.4.5
Markdown==3.4.4
markdown-include==0.7.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.2
mdurl==0.1.2
multidict==6.0.4
multiprocess==0.70.15
nltk @ file:///croot/nltk_1688114146592/work
numpy==1.26.2
packaging==23.2
pandas==2.1.3
pcpp==1.30
Pillow==10.1.0
prettytable==3.9.0
pyarrow==14.0.1
pyarrow-hotfix==0.5
Pygments==2.16.1
pyparsing==3.1.1
python-dateutil==2.8.2
python-markdown-math==0.8
pytz==2023.3.post1
PyYAML==6.0.1
regex @ file:///croot/regex_1696515298636/work
requests==2.31.0
rich==13.6.0
six==1.16.0
soupsieve==2.5
spython==0.3.1
tokenizers==0.13.3
tomli==2.0.1
toposort==1.7
torch==1.13.0+cu117
tqdm==4.64.1
transformers==4.23.1
tree-sitter==0.20.4
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
wcwidth==0.2.10
xxhash==3.4.1
yarl==1.9.2
zipp==3.17.0
